﻿.contenedor1 {
    border-radius: 3%;
    width: 90%;
    position: absolute;
    top: 70px;
    left: 50px;
    margin: 0 auto;
    overflow: hidden;
}

#men1 {
    border: none;
    background-color: #03101A;
    color: black;
    width: 100%;
    height: 10%;
    -webkit-border-radius: 0px 0px 0px 0px;
    position: fixed;
    top: 0%;
    left: 0%;
    text-align: center;
    font-size: 15pt;
    z-index: 100;
}

body {
    border: none;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    display: inline-block;
    background-color: #082e46;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #03101A;
    width: 80%;
    height: 10%;
    position: fixed;
    top: 0%;
    left: 10%;
}

li {
    display: inline;
    float: left;
}

    li a {
        display: block;
        padding: 16px 25px;
        color: white;
        background-color: #03101A;
        text-align: center;
        text-decoration: none;
    }

        li a:hover {
            background-color: lightgray;
            color: black;
            display: block;
            padding: 16px 25px;
            text-align: center;
            text-decoration: none;
            box-shadow: 0 9px orange;
        }

#logo {
    display: block;
    padding: 16px 25px;
    color: white;
    text-align: center;
    text-decoration: none;
    position: fixed;
    top: 10%;
    left: 40%;
}
#iiv2 {
    background-color: lightgreen;
    /*  background-color: transparent;*/
    border-radius: 13px;
    border: 6px solid #1c1b18;
    display: inline-block;
    width: 25%;
    height: 50%;
    position: fixed;
    top: 33%;
    left: 58%;
    z-index: 2;
}
#iiv8 {
    background-color:rgba(6, 226, 112, 0.83);
    /*  background-color: transparent;*/
    border-radius: 13px;
    border: 6px solid #1c1b18;
    display: inline-block;
    width: 1000px;
    height: 800px;
    position: absolute;
    top: 33%;
    left: 3%;
    z-index: 7;
}
.myButton {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background-color: darkorange;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    height: 8%;
    width: 8%;
    position: fixed;
    top: 23%;
    left: 3%;
}

    .myButton:hover {
        background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
        background-color: #ccc2a6;
    }


.mB1 {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    height: 8%;
    width: 8%;
    position: fixed;
    top: 23%;
    left: 15%;
}

    .mB1:hover {
        background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
        background-color: #ccc2a6;
    }

.mB2 {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    height: 8%;
    width: 8%;
    position: fixed;
    top: 23%;
    left: 27%;
}

    .mB2:hover {
        background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
        background-color: #ccc2a6;
    }

.mB3 {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    height: 8%;
    width: 8%;
    position: fixed;
    top: 23%;
    left: 39%;
}

    .mB3:hover {
        background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
        background-color: #ccc2a6;
    }

.mB4 {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    height: 8%;
    width: 8%;
    position: fixed;
    top: 23%;
    left: 51%;
}

    .mB4:hover {
        background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
        background-color: #ccc2a6;
    }

.mB5 {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    height: 8%;
    width: 8%;
    position: fixed;
    top: 23%;
    left: 63%;
}

    .mB5:hover {
        background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
        background-color: #ccc2a6;
    }

.mB6 {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    height: 8%;
    width: 8%;
    position: fixed;
    top: 23%;
    left: 75%;
}

    .mB6:hover {
        background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
        background-color: #ccc2a6;
    }

#tit {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: none;
    color: red;
    padding: 10px 10px;
    position: fixed;
    top: 10%;
    left: 0%;
}

label {
    display: block;
}

input:invalid {
    border: 1px solid #CC0000;
}

input:valid {
    background-color: lightyellow;
    border: 1px solid #3399FF;
}

    input:valid + .invalid {
        visibility: hidden;
    }

input:invalid + .invalid {
    visibility: true;
}

#h22 {
    background-color: darkolivegreen;
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 5%;
}

#formulariodecliente {
    height: 300px;
    width: 500px;
}

label.d1 {
    color: black;
    font-size: 15pt;
}

input.a1 {
    font-size: 10pt;
}

#buscob1 {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background-color: #eae0c2;
    border-radius: 15px;
    background-color: none;
    border: 2px solid #333029;
    height: 280px;
    width: 280px;
    position: absolute;
    top: 17%;
    left: 2%;
}

input.pt11 {
    border: none;
    background: black;
    color: white;
    width: 40%;
    height: 15%;
    position: absolute;
    top: 50%;
    left: 4%;
    font-size: 15pt;
}

    input.pt11:hover {
        border: none;
        background: white;
        color: black;
        width: 40%;
        height: 15%;
        position: absolute;
        top: 50%;
        left: 4%;
        font-size: 15pt;
    }

label.cob1 {
    color: black;
    font-size: 15pt;
    position: absolute;
    top: 20%;
    left: 5%;
}

input.cob2 {
    font-size: 15pt;
    width: 40%;
    height: 12%;
    position: absolute;
    top: 34%;
    left: 5%;
}

#regcobro {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background-color: #eae0c2;
    border-radius: 15px;
    background-color: none;
    border: 2px solid #333029;
    height: 241px;
    width: 380px;
    position: absolute;
    top: 17%;
    left: 28%;
}

#ass1 {
    color: black;
    font-size: 15pt;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

#tble_tamanio {
    height: 100%;
    width: 25%;
    position: absolute;
    top: 0%;
    left: 42%;
}

#tble_tipo {
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0%;
    left: 69%;
}

#tabletam {
    border-collapse: collapse;
    width: 100%;
}

#tableth, tabletd {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

#tableth {
    background-color: #cb2424;
    color: white;
}

.m1yButton {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    height: 8%;
    width: 8%;
    position: absolute;
    top: 23%;
    left: 3%;
}

    .m1yButton:hover {
        background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
        background-color: #ccc2a6;
    }


.m1B1 {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    height: 8%;
    width: 8%;
    position: absolute;
    top: 23%;
    left: 15%;
}

.mB1:hover {
    background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
    background-color: #ccc2a6;
}

.m1B2 {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    height: 8%;
    width: 8%;
    position: absolute;
    top: 23%;
    left: 27%;
}

.mB2:hover {
    background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
    background-color: #ccc2a6;
}

.m1B3 {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    height: 8%;
    width: 8%;
    position: absolute;
    top: 23%;
    left: 39%;
}

    .m1B3:hover {
        background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
        background-color: #ccc2a6;
    }

.m1B4 {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    height: 8%;
    width: 8%;
    position: absolute;
    top: 23%;
    left: 51%;
}

    .m1B4:hover {
        background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
        background-color: #ccc2a6;
    }

.m1B5 {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    height: 8%;
    width: 8%;
    position: absolute;
    top: 23%;
    left: 63%;
}

    .m1B5:hover {
        background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
        background-color: #ccc2a6;
    }

.m1B6 {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    height: 8%;
    width: 8%;
    position: absolute;
    top: 23%;
    left: 75%;
}

    .m1B6:hover {
        background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
        background-color: #ccc2a6;
    }

#tit1 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: none;
    color: red;
    padding: 10px 10px;
    position: absolute;
    top: 10%;
    left: 0%;
}

#g {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 11%;
    left: 0%;
}

#c {
}

#a {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 11%;
    left: 0%;
}

#hel {
    font-size: 10pt;
    width: 250px;
    color: red;
}

#menu_contactos {
    background-color:none;
    width: 100%;
    height: 10%;
    position: fixed;
    top: 22%;
    left: 8%;
}
#ppp {
    background-color:turquoise;
    width:40%;
    height:50%;
    position:fixed;
    top:35%;
    left:50%;
}
.tablapuesto {
    width: 25%;
    height: 30%;
    position: fixed;
    top: 33%;
    left: 58%;
}