﻿<%@ Page Title="" Language="C#" MasterPageFile="~/web_master/Modulo_admin.Master" AutoEventWireup="true" CodeBehind="cargaempleado.aspx.cs" Inherits="diproma.Paginas.cargaempleado" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    Carga Empleado
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="titulo1" runat="server">
    Carga de Empleado
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="submenu" runat="server">
            <li><a href="crear_empleado.aspx">CRUD Empleado</a></li>
            <li><a href="ver_empleado.aspx">Ver Empleado</a></li>
            <li><a href="cargaempleado.aspx">Cargar Empleado</a></li>
            <li><a href="asigempleado.aspx">Asignar Empleados</a></li>
            <li><a href="crud_credencial.aspx">CRUD Credenciales</a></li>
    
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cuadro1" runat="server">

</asp:Content>
