﻿<%@ Page Title="" Language="C#" MasterPageFile="~/web_master/Modulo_admin.Master" AutoEventWireup="true" CodeBehind="crud_meta.aspx.cs" Inherits="diproma.Paginas.crud_meta" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    Crud Metas
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="titulo1" runat="server">
    Crud Meta
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="submenu" runat="server">
            <li><a href="crud_cliente.aspx">Cliente</a></li>
            <li><a href="crud_ciudad.aspx">Ciudad</a></li>
            <li><a href="crud_depto.aspx">Departamento</a></li>
            <li><a href="crud_meta.aspx">Metas</a></li>

</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cuadro1" runat="server">
   
</asp:Content>
