﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="login_admin.aspx.cs" Inherits="diproma.Paginas.login_admin" %>

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <link href="../css/css_login.css" rel="stylesheet" />
    <style type="text/css">
        .auto-style1 {
            margin-left: 0px;
        }
        .auto-style2 {
            height: 235px;
        }
     
    </style>
</head>
<body>
    <p>
        
    </p>
    <div class="login-page">
  <div class="form">
    <form class="auto-style2" runat="server">
     
        <asp:TextBox ID="TextBox1" runat="server" placeholder="usuario"></asp:TextBox>
        <asp:TextBox ID="TextBox2" runat="server" placeholder="contraseña"></asp:TextBox>
        <asp:DropDownList ID="DropDownList1" runat="server" CssClass="auto-style1" Height="26px" Width="268px">
            <asp:ListItem>Administador</asp:ListItem>
            <asp:ListItem>Administrador_Servicio</asp:ListItem>
            <asp:ListItem>Cliente</asp:ListItem>
            <asp:ListItem>Proovedor</asp:ListItem>
        </asp:DropDownList>

        <asp:Button ID="log" runat="server" CssClass="hellow" Text="Login" OnClick="Button1_Click1" Height="55px" Width="262px" />
        

    </form>
  </div>
</div>
    <p>
        &nbsp;</p>
</body>
</html>
